<nav class="navbar bg-dark" data-bs-theme="dark">
    <h2>.NET22S Jarno</h2>
  </nav>

<section class="main">

    <aside class="search">
        <ul class="nav flex-column">
        <li class="nav-item">
            Search <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <input
            type="text"
            [(ngModel)]="term"
            class="searchTerm"
            placeholder="Kirjoita hakusana.."
          />
        </li>
        <button type="button" class="btn btn-outline-primary" (click)="sortA(true)">Ascend <fa-icon [icon]="faArrowRight"></fa-icon></button>
        <button type="button" class="btn btn-outline-primary" (click)="sortA(false)">Descend <fa-icon [icon]="faArrowRight"></fa-icon></button>
        <button type="button" class="btn btn-outline-info" (click)="sortB(true)">Newest <fa-icon [icon]="faArrowRight"></fa-icon></button>
        <button type="button" class="btn btn-outline-secondary" (click)="sortB(false)">Oldest <fa-icon [icon]="faArrowRight"></fa-icon></button>



      </ul>

    </aside>


    <article class="puhelimet">



        <section class="card mb-3" *ngFor="let x of ProductList | filter: term">

            <article class="productcard-flex">

           <figure><img src="{{'assets/' + x.imageUrl}}" class="card-img-top" alt="..."></figure>

            <section class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p class="card-text">{{x.snippet}}</p>
              <p class="card-text"><small class="text-muted">{{x.carrier}}</small></p>
            </section>
        </article>

        </section>








</article>

</section>