

.main {
    display: flex;
    flex-direction: row;
}

.search {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
}


.btn {
    margin: 3px;
    width: 155px;
    padding: 10px;
    box-shadow: 1px 2px;
}


.searchTerm{
    height: 50px;
    margin-bottom: 4px;
    border-radius: 8px;
}

/*Inputin säädöt*/
input {
    background-color: rgb(242, 249, 247);
    width: 155px;
    padding: 10px;
    box-shadow: 1px 2px;
  }




.nav-item{
    margin-left: 2%;
    margin-top: 2%;
}

.puhelimet {
    margin-right: 1%;
    margin-top: 2%;
}

.puhelinkortti {
    margin: 1%;
}

.headlink {
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
color: #028566;
text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
}
.headlink:hover{
    color: #01604a;
    text-decoration: underline;
}

.productcard-flex{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

figure {
    width: 15%;
   /* border: black solid 1px; */
    padding: 0.1rem;
}    
figure img {
    max-width: 100%;   
}